.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #ffa401;
    padding: 10px;
    margin: 100px;
    border-radius: 30px;
    -webkit-box-shadow: -1px 1px 5px 9px rgba(77, 223, 150, 0.75);
    -moz-box-shadow: -1px 1px 5px 9px rgba(83, 224, 55, 0.75);
    box-shadow: -1px 1px 5px 9px rgba(193, 241, 102, 0.75);
}

.grid-container>div {
    background-color: rgba(151, 85, 85, 0.8);
    text-align: center;
    padding: 20px 10px;
    font-size: 30px;
    border-radius: 50px;

}

.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

#search {
    width: 200px;
    border-radius: 28px;
    height: 47px;
    font-size: 19px;
    text-align: center;
    font-family: inherit;
}

#submit_btn {
    width: 87px;
    height: 43px;
    border-radius: 100px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .8);
    background-color: black;
    color: white;
    font-size: 15px;
    border: transparent;
    font-family: inherit;
}

#submit_btn:active {
    background-color: rgb(27, 27, 27);
}

input[type=search] {
    text-transform: capitalize;
}